.difficulty {
  width: 75px;
  margin-right: 15px;
  padding-left: 2px;
}

.label.difficulty {
  padding-top: 0.6em;
  color: #fbfdfa;
  font-size: 12px;
}

.title {
  font-size: 1.2em;
}

.diff-easy {
  background-color: #69ee78;
  font-style: italic;
}

.diff-medium {
  background-color: #5a99cf;
}

.diff-hard {
  background-color: #dd1d77;
}

.diff-super {
  background-color: #8d16e2;
}
